
@{
    ViewBag.Title = "ReportNoti";
    Layout = "~/Views/Shared/my_Layout.cshtml";
}

@section styles{
    <style>
    </style>
}
<div class="container" style="background-color: white; margin-top: 25px;">
    <h3 style="text-align: center; color: red;">Chúng tôi đã nhận được báo cáo của bạn và sẽ xử lý sớm nhất có thể !!!</h3>
</div>
@section scripts{
}
